body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}
.clr {
	clear: both;
}

#main-header {
	width: 100%;
	height: 500px;
	background-image: url('images/hero-bg.jpg'); 
	background-position: center center; 	
}

.container {
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.navbar {
	width:100%;
	margin: 0 auto;
	position: fixed;
	z-index: 10;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; 
}

.navbar a {
	text-decoration: none;
}
.navbar-black {
	width:100%;
	margin: 0 auto;
	position: fixed;
	z-index: 10;
	background-color: black;
}

.navbar h2 {
	display: inline;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 15px;
}

.navbar button {
	color: black;
	background-color: orange;
	border: none;
	width: 90px;
	height: 60px;
	font-weight: bold;
	font-size: 18px;
}

.navbar h2:hover {
	color: orange;
}

.garamond {
	font-family: Garamond;
}
.par p {
	position: absolute;
	color: #fff;
	font-size: 50px;
	line-height: 1.2;
}

.par h4 {
	position: absolute;
	color: silver;
	font-size: 18px;
	opacity: 0.2;
	top: 300px;
}

#main-content {
	width: 100%;
	height: 100%;
	background-color: #0e191b;
}

.about h4 {
	color: white;
	text-transform: uppercase;
	font-family: Calibri;
}

.about p {
	font-family: Garamond;
	color: silver;
	font-size: 18px;
	opacity: 0.2;
}

.image-part {
	overflow: hidden;
	margin: 40px;
}
.image-part img {
	box-sizing: border-box;
	float: left;
	width: 25%;
	padding: 0; 
}

.service h4 {
	color: white;
	font-family: Calibri;
}

.service p {
	font-family: Garamond;
	color: silver;
	font-size: 18px;
	opacity: 0.2;
}
.block {
	width: 33.3%;
	float: left;
	border-right: 20px solid #0e191b;
	box-sizing: border-box;
}

.block h4 {
	color: orange;
}

.block p {
	color: silver;
	font-size: 18px;
	opacity: 0.2;
	font-family: Garamond;
}

#secondary-content {
	background-color: #040c1a;
	padding: 0;
	border: 1px solid #040c1a;
}
.paragraph p {
	color: silver;
	font-size: 18px;
	opacity: 0.2;
	font-family: Garamond;
}

.subheader h4 {
	color: white;
	font-family: Calibri;
}

.block-2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	border-right: 15px solid #040c1a;
}

.block-2 h4 {
	color: orange;
}

.avatars img {
	width: 100%;
}
.avatars {
	width: 25%;
	float: left;
	border-right: 15px solid #040c1a;
	box-sizing: border-box;

}

.avatars h3 {
	color: orange;
}

#third-main {
	background-color: #E5B000;
	border: 1px solid #E5B000;
}

.citation {
	margin: auto;
	padding: 0 50px;
}

.citation p {
	font-family: Garamond;
	font-size: 46px;
	line-height: 1.2;
	color: white;
	text-align: center;
}

.author img {
	border: 3px solid white;
	border-radius: 50%;
	margin: 0 35%;
}

#contact {
	background-color: #040c1a;
	padding-top: 100px;
}

.block-3 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	border-right: 30px solid #040c1a;
	margin-bottom: 100px;
}

#name, #email, #subject {
	width: 100%;
	height: 30px;
	padding: 10px;
	background-color: #0e191b; 
	border: none;
	margin: 10px 0;
	border-radius: 5px;
}

#message {
	width: 100%;
	height: 100px;
	padding: 10px;
	background-color: #0e191b;
	border: none;
	margin: 10px 0;
}
#name:focus, #message:focus, #email:focus, #subject:focus {
	background-color: white;
}

#submit {
	width: 100%;
	height: 60px;
	background-color: orange;
	color: black;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: bold;
}

.subheader-orange h4 {
	color: orange;
	font-family: Calibri;
}

footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #0e191b;
	background-color: #0e191b;
	text-align: center;
}
