@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.clr {
	clear: both;
}

#main-header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/banner/banner.png');
	background-position: center;
	height: 100%;
	font-family: "Paytone One", sans-serif !important;

}

nav {
	
}

.navbar {
	padding: 1.5rem 1.5rem;
}

.icon {

	padding: 0;
}

.active {
	color: #F2C64D !important;
	text-decoration: underline;
}
.nav-link {
	font-weight: 400 !important;
	transition: .3s !important;
}

.nav-link:hover {
	color: #F2C64D !important;
	text-decoration: underline;
}

.social-media i {
	color: #fff;
}

.social-media i:hover {
	color: #F2C64D;
}

.call-us-button {
	width: 14rem;
	color: #F2C64D;
	padding: 1rem 0;
	border: 1px solid #F2C64D;
	border-radius: 2rem;
	font-weight: 400 !important;
	font-family: "Paytone One", sans-serif !important;
	transition: .3s;
}

.call-us-button:hover {
	background: #F2C64D;
	color: white;
}

#favicon {
	position: absolute;
	display: flex;
	top: 0;
	left: 620px;
}

.brand {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-yellow {
	color: #F2C64D;
}

.title {
	font-size: 100px;
    text-transform: uppercase;
}

.maxican {
	font-size: 140px;
	position: relative;
	bottom: 4rem;
	font-family: "Pacifico", cursive;
}

.navbar-toggler {
	color: #FFF !important; 
}

#showcase {
	width: 100%;
	background: url("img/banner/burger_bg.png");
	background-repeat: repeat;
	color: #1A0D01;
}

.best-burger-menu {
	padding-top: 115px;
	padding-bottom: 60px;
}

.best-burger-menu h3 {
	font-family: "Pacifico", cursive;
}

.best-burger-menu h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Paytone One", sans-serif;
}

.burger-name {
	font-weight: 700;
}

.burger-paragraph {
	color: grey;
}

.burger-price {
	font-size: 30px;
	font-weight: 800;
	color: #F0542C;
}

.more-info {
	margin: 4rem 0;
	padding: 1.5rem 0;
	width: 100%;
	border: 1px solid #F0542C;
	border-radius: 3rem;
	color: #F0542C;
	transition: 0.3s;
}

.more-info:hover {
	background-color: #F0542C;
	color: #FFF;
}
#burger-president {
	width: 100%;
}

.block {
	width: 50%;
	float: left;
	box-sizing: border-box;	
}

#burger-1 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.burger-president-1 {
	position: relative;
	left: 50px;
	bottom: 300px;
}

.button-order-now {
	border-radius: 30px;
	background-color: #F2C64D;
	padding: 10px 30px;
	border: none;
	font-size: 20px;
	transition: .5s;
}

.button-order-now:hover {
	border: 1px solid #F2C64D;
	background: transparent;
	color: #F2C64D !important;
}

#about-us {
	padding-bottom: 150px;
}

#about-us-image {
	position: absolute;
	top: 35%;
	left: 50%;
}



#about-us-paragraph {
	padding-top: 110px;
	padding-left: 120px;
}

#about-us-paragraph h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Paytone One", sans-serif;
	font-weight: 300;
}

#about-us-paragraph h3 {
	font-family: "Pacifico", cursive;
}

.pretty-cursive {
	font-family: "Pacifico", cursive;
}
#about-us-paragraph p { 
	color: #4d4d4d;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Raleway', sans-serif;
}

.bachelor {
	width: 100%;
	height: 698px;
	background: url('img/video/video.png');
	background-position: center;
}

.bachelor h1 {
	font-size: 70px;
	font-family: "Paytone One", sans-serif;
}

.bachelor h3 {
	font-size: 24px;
	position: relative;
	bottom: 300px;
}


#testimonials {
	padding-top: 110px;
}

#testimonials h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Paytone One", sans-serif;
	font-weight: 300;
	padding: 15px 0;
}

#testimonials p {
	width: 730px;
	font-size: 20px;
	padding: 0 15px;
	margin: 0 auto;
	color: #040e27;
}

.happy-customers {
	padding-top: 50px;
}

.happy-customers h4 {
	color: #040e27;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	padding-top: .6rem;
}

.fa-star, .fa-star-half {
	color: #ffd700;
}

#instagram {
	padding-bottom: 8.5rem;
}

#instagram img {
	transition: .3s;
}

.enlarge {
	transform: scale(1.05);	
}


.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 110px;
}

footer {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('img/banner/burger_bg.png');
	font-family: 'Montserrat', sans-serif;
}

footer h3 {
	color: #1A0D01;
	font-size: 24px;
	margin: 0 0 34px;
}

footer p {
	color: #6e6e6e;
	margin: 0 0 13px;
}

footer a {
	color: #f0542c;
	font-size: 20px;
}

.pb-5 {
	padding-bottom: 5rem !important;
}
.fa-twitter, .fa-facebook, .fa-google-plus, .fa-instagram {
	color: #f0542c;
	padding: 0 10px;
}

.copyright {
	padding: 1.5rem 0;
	border-top: 1px solid #6e6e6e;
	color: #6e6e6e;
}