body {
  background-color: rgb(239, 217, 202);
}

.container, .container-fluid {
  background-color: rgb(109, 240, 194);
  border: rgb(255, 199, 64) solid 10px;
  color: rgb(0, 0, 0);
}

.row {
  background-color: rgb(236, 93, 23);
}

[class*="col"]{
  background-color: rgb(100, 0, 228);
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.white {
	background-color: white;
	height: 120px;
	border: none;
}

.black {
	background-color: black;
	height: 120px;
}