#showcase {
    height: 70%;
    background-position-y: top;
}

.banner h2 {
    font-size: 48px;
    font-family: 'PT Serif';
    font-weight: bold;
}


#btn-arrow {
    font-size: 24px;
    position: relative;
    top: 7px;
}

.banner a {
    color: #fff;
}

.banner a:hover {
    color: red;
    text-decoration: none;
}

.red {
    color: red !important;
}

#banner-large {
    height: 500px;
    position: relative;
    top: 80px;
    margin-top: 50px;
    font-family: 'PT Serif', sans-serif;
}

#banner-large h3 {
    font-size: 36px;
    margin-bottom: 18px;
    font-weight: bold;
}

#banner-large h5 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: bold;
}