body {
    font-family: "Roboto";
}

html, body {
    height: 100%;
}
#main-header {
    width: 100%;
    position: fixed;
    z-index: 999;
}
.clr {
    clear: both;
}
* {
    transition: .5s;
}
.navbar {
    height: 140px;
}
.container {
    width: 100% !important;
    margin: 0 auto;
}

.stuck {
    height: 60px;
}
.navbar {
    background-color: #000 !important;
}

.active a { 
    color: red !important;
}

.red {
    color: red !important;
}

.nav-link {
    text-transform: uppercase;
    color: #fff;
    font: 500 12px "Roboto", sans-serif;
}

.navbar-nav {
    position: relative;
}

#showcase {
    width: 100%;
    height: 100%;
    background: url('img/banner/home-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: 20px;
}

.banner {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    top: 180px;
}

.banner h1 {
    font-size: 80px;
    margin-bottom: 20px;
    line-height: 76px;
}

.banner p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #fa333f;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-weight: 600;
    transition: all 300ms linear 0s;  
}
.red-button {
    background-color: #fa333f;
}

.red-button:hover {
    background: transparent;
    color: #fa333f;
    border: 1px solid #fa333f;
}

.message {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 75px 90px;
    background-color: #fff;
    top: 50px;
    z-index: 2;
}

.title {
    font-size: 50px;
    margin-bottom: 15px;
    color: #222222;
    line-height: 1.2; 
}

.paragraph {
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}
.white-button {   
    color: #000;
    border: 1px solid #eee;
    background-color: #fff; 
}

h1 {
    font-family: "PT Serif", serif !important;
    font-weight: bold !important;
}

.blog-right {
    left: 65px;
}

.blog-left {
    right: 50px;
}

.service-inner-title {
    font-size: 20px; 
    width: 55%;
}

.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
}

#feedback {
    background-color: #f9f9ff;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
}

.feedback-text-left {
    padding-left: 95px;
    padding-right: 55px;
}

.feedback-text-right {
    width: 100%;
    border-radius: 10px;
}

.hide {
    display: none !important;
}

.media {
    border-radius: 10px;
    position: relative;
    top: -20px;
    background: #fff;
}

#instagram img {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    box-sizing: border-box !important;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
#instagram img:hover {
    transform: scale(1.05);
}

.instagram-button {
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto;
    position: relative;
    top: -140px;
    z-index: 10;
    background: #fff;
    border-radius: 5px;
}

.instagram-button:hover {
    cursor: pointer;
}

#main-footer {
    position: relative;
    background: #000;
    padding-top: 200px;
    padding-bottom: 80px;
    top: -150px;
}


.input-email {
    height: 40px;
    background: transparent;
    width: 80%;
    border: 1px solid #1e233b;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding: 0 15px;
    color: white;
}