body {
	margin: 0;
}

.container {
	width: 90%;
	height: 500px;
	background-color: #013eaf;
	margin: 0 auto;
}

.block {
	display: block;
	margin: 10px;
	width: 100px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
}

.orange {
	background-color: orange;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}