body {
	font-family: Calibri;
}


#main-header {
	background-color: #f2f3f4 !important;
}
#search-bar {
	width: 66%;
	height: 30px;
	border-radius: 0;
	background-color: #f2f3f4;
}

#search-button {
	border-radius: 0; 
	background-color: #34b1da;
	height: 30px;
}
#search-button:hover {
	background-color: #060607 !important;
}

.phone:hover {
	color: #34b1da;
	cursor: pointer;
}

.category {
	height: 100%;
	padding-top: 13px;
	background-color: #34b1da;
	color: #fff;
	font-size: 22px;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}

a.nav-link:hover {
	color: #34b1da !important;
}

.show {
	background-color: #34b1da !important;
	height: 100%;
}

.categories {
	width: 100%;
	height: 40px;
	font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    background-color: #f2f3f4;
}

.categories:hover {
	color: #34b1da !important;
	cursor: pointer;
}

.blue {
	color: #34b1da !important;
}

.explanation {
	width: 150px;
	position: relative;
	right: 50px;
	top: -100px;	
}

.explanation p {
	font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #888;
    margin-bottom: 5px;
}

.explanation button {
	border-radius: 5px;
}


.carousel-caption {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#banner-1 {
	background-image: url('images/banner-1.jpg');
	background-size: cover; 
}

.banner:hover {
	outline: 5px solid #9bd4f5;
    outline-offset: -5px;
}
#banner-2 {
	background-image: url('images/banner-2.jpg');
	background-size: cover; 
	color: #fff;
}

#banner-3 {
	background-image: url('images/banner-3.jpg');
	background-size: cover; 
}
#banner-1 a {
	position: relative;
	top: 10px;
	text-decoration: underline;
}

#banner-1 a:hover {
	color: #34b1da !important;
	cursor: pointer;
}

.small-text {
	font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.grey {
	color: #888;
}
.card-title {
	font-size: 20px;
	font-weight: 500;
}

.card-text {
	font-size: 14px;
}

.white {
	color: #fff;
}

#main-footer {
	background: #464646;
}

.side {
	position: relative;
}

#footer {
	border-top: 1px solid grey;
}