body {
	font-family: 'Arial';
	font-weight: 500;
	padding: 0;
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	border: 1px solid black;
	justify-content: center;
}

.block {
	background-color: lightblue;
	margin: 10px;
	height: 100px;
	width: 200px;
}