body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 16px;
}

.grow,
.shrink {
  width: 100px;
  height: 100px;
  background-color: Dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}

.grow.side {
	flex-basis: 60px;
  flex-grow: 1;
}

.grow.center {
	flex-grow: 3;
}

.shrink.side {
	flex-basis: 300px;
  flex-shrink: 3;
}

.shrink.center {
	flex-shrink: 2;
  flex-basis: 150px;
}

#grows,
#shrinks {
  display: flex;
  background-color: Whitesmoke;
  justify-content: center;
  min-height: 200px;
  align-items: center;
}
