html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: CornflowerBlue;
}

.container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
}

.header {
  background-color: #19314D;
}

.header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 200;
  color: #fff;
  margin: 0;
  padding: 7px 0;
}

.nav-menu {
  background-color: #19314D;
  color: #EFEFEF;
  display: none;
  justify-content: flex-start;
}
  .nav-menu .container-nav {
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
    .nav-menu .container-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      }
      .nav-menu .container-nav ul li {
        padding-top: .25em; 
        }
        .nav-menu .container-nav ul li:first-child {
          text-transform: uppercase;
          color: CornflowerBlue;
          letter-spacing: 0.05em;}



.post {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

form .post {
    min-height: 186px;
}

.post .avatar {
  margin: 0 10px 10px 0;
}

.post h3 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
  display: inline;
}

.post p {
  font-size: 14px;
}

.post p + img {
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  color: #00CD73;
  border-color: #00CD73;
  background-color: transparent;
  font-weight: 700;
}

.btn-hover {
  color: white;
  border-color: #00CD73;
  background-color: #00CD73;
  font-weight: 700;
}

.btn-post{
  color: CornflowerBlue;
  border-color: CornflowerBlue;
  border-radius: 4px;
  border-width: 1px;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  padding: 5px;
  float: right;
  margin-right: 20px;
}

.btn-post:hover {
  color: white;
  border-color: CornflowerBlue;
  background-color: CornflowerBlue;
  font-weight: 700;
}

.postText {
  width: 100%;
  display: block;
  word-wrap: break-word;
  height: 60px;
  resize: none;
}

textarea{
  background-color: #F2F2F2;
  border: none;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-size: 14px;
  padding: 10px;  
}

.wordcount {
  color: #9B9B9B;
  font-size: 9px;
  line-height: 24px;
  opacity: .8;
}

.red {
  color: red;
}

.bold {
  font-weight: 600;
}