*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.4;
	color: grey;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	line-height: .9;
	color: #c31;
}

.intro {
	position: relative;
	display: inline-block;
}

.intro::before, .intro::after {
	content: '';
	height: 100%;
	display: block;
	background: #c31;
	position: absolute;
}

.intro::before {
	background: white;
	z-index: -1;
	left: -20px;
	right: -20px;
}
.intro::after {
	width: 100vw;
	left: 50%;
	z-index: -2;
	top: 0;
	transform: translateX(-50%);
}

@media only screen and (max-width: 500px) {
	.intro::before {
		left: 20px;
		right: 20px;

	}
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.card {
	position: relative;
	margin: 1em;
	background-color: grey;

	
}

.card::before,
.card::after {
	content: '';
	position: absolute;
	top: 1.25em;
	bottom: 1.25em;
	left: 1.25em;
	right: 1.25em;
}

.card::after {
	transform: scale(1, 0);
	transition: transform ease-out 250ms;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.card::before {
	transform: scale(0, 1);
	transition: transform ease-out 250ms;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.card:hover::before {
	transform: scale(1.05, 1);
}

.card:hover::after {
	transform: scale(1, 1.05);
}

.card-title {
	color: white;
}

.card-img {
	max-width: 100%;
	display: block;
	transition: opacity ease-out 250ms;
	opacity: 1;
}

.card:hover .card-img {
	opacity: 0.4;
}

.card-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	transition: opacity ease-out 250ms;
}

.card:hover .card-text {
	opacity: 1;
}