body {
	padding: 0; 
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 16px;
}

header {
	width: 100%;
	height: 80px;
	background-color: #17baef;
	position: fixed;
	top: 0;
	transition: ease-out .5s;
	z-index: 999;
}

.bg-white {
	background-color: #fff;
}

.blue {
	color: #17beaf !important;
}

.active {
	color: #17beaf !important;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.clr {
	clear: both;
}
.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

header .container {
	display: flex;
	align-items: center;
}

.logo-title {
	color: #fff;
	font-size: 26px;
	margin: 0;
}

.navbar {
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
}
.nav-list {
	
}
.nav-item {
	display: inline;
	padding: 5px 20px;
}

.nav-link {
	color: #0a7396;
	font-size: 14px
}

.nav-link:hover {
	cursor: pointer;
	color: #074f66;
}

.promo {
	width: 100%;
	height: 600px;
	text-align: center;
	background-color: #17baef;
	position: relative;
	top: -2px;
}

.title {
	font-size: 98px;
	position: relative;
	top: 80px;
	color: #074f66;
}

.highlight {
	color: #eebf3f;
}

.intro {
	font-size: 28px;
	max-width: 680px;
	margin: 0 auto;
}

.box {
	margin-top: 25px;
	font-size: 18px;
	padding: 8px 30px; 
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
}

.demo {
	background-color: #eebf3f;
	margin-right: 15px;
}

.download {
	background-color: #074f66;
}

#about {
	width: 100%;
	background-color: #f5f5f5 !important;
	position: relative;
	top: -30px;
}

#about .title {
	color: #074f66;
	position: relative;
	top: 20px;
	text-align: center;
	font-size: 30px;
}

.paragraph {
	color: #444;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato', arial, sans-serif;
}

.hz {
	margin-top: 20px;
}
.block-title {
	color: #074f66;
	margin-bottom: 30px;
	font-size: 18px;
	position: relative;
}

.block-title::before {
	content: url('baseline_favorite_black_18dp.png');
	position: absolute;
	left: -25px;
}
.block {
	width: 33%;
	text-align: left;
	float: left;
	border-right: 40px solid transparent;
}

.block .paragraph {
	text-align: left;
	margin-top: 20px;
}

#footer {
	width: 100%;
	height: 150px;
	background-color: #042a36;
}

#footer .author {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-icons {
	display: flex;
}

.fa {
	margin: 0 10px;
}