body {
	padding: 0;
	margin: 0;
	background-color: #242582;
	font-family: 'Roboto';
	color: #fff;
}

header {
	padding: 0;
	height: 80px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.clr {
	clear: both;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
}

nav ul li {
	display: inline;
	list-style: none;
}

img {
	width: 4rem;
}

nav ul {
	position: relative;
	left: 58%;
}

nav ul li a {
	padding: 0 20px;
	text-decoration: none;
	font-size: 1.1rem;
	color: #fff;
	transition: color ease-out .5s;
}

nav ul li a:hover {
	color: #F64C72;
}

.intro {
	font-size: 3.5em;
}

.quote::before {
	content: open-quote;
}

.quote::after {
	content: close-quote;
}
.intro::before {
	content: 'Hello, ';
}

.intro::after {
	content: 'Goodbye!';
}

a[data-tool-trip] {
	color: #F64C72;
	position: relative;
}
a[data-tool-trip]::after {
	content: attr(data-tool-trip);
	display: block;
	position: absolute;
	background-color: grey;
	padding: 1em 3em;
	color: white;
	border-radius: 5px;
	font-size: .8em;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	transform: scale(0);
	transition: transform ease-out 150ms,
				bottom ease-out 150ms;
}

a[data-tool-trip]:hover::after {
	transform: scale(1);
	bottom: 100%;
}
.counters {
	width: 100%;
	margin-top: 2em;
	counter-reset: counter-name;
}

.section {
	color: #F64C72;
	position: relative;
}

.section::before {
	counter-increment: counter-name;
	content: counter(counter-name);
	position: absolute;
	left: -2.5em;
	top: -0.5em;
	background: white;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid grey;
	box-sizing: border-box;
}

