html, body {
	height: 100%;
}

body {
	font-family: Hind, sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}
* {
	transition: .5s;
}
.clr {
	clear: both;
}
.container {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

#main-header {
	background-image: url('images/01.jpg');
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain; 
	object-fit: scale-down;
	height: 100%;
}

.header-up {
	border-bottom: 1px solid grey;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 10px 50px;
}
.black {
	background-color: rgba(0, 0, 0, 0.8);
}
.left-shift {
	position: relative;
	left: -20px;
}
.right-shift {
	position: relative;
	right: -20px;
}

.white {
	color: #fff;
}
.sticky {
	position: fixed;
	z-index: 999;
}

nav ul {
	display: flex;
	float: right;
}

nav ul li {
	list-style: none;
	padding: 5px 20px;
}
#navbar {
	width: 100%;
	display: inline-block;
	float: right;
}

nav img.logo {
	float: left;
	padding: 0;
	margin-top: 15px;
}

#navbar h4 {
	text-transform: uppercase;
	display: inline-block;
}

nav ul li a {
	color: black;
	text-decoration: none; 	
}

h4 a:hover {
	transition: width .3s;
	text-decoration: underline;	
}

.header-below {
	text-align: center;
	padding: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-below h1 {
	font-size: 70px;
}

.header-below h4 {
	font-size: 25px;
}

#main {
	color: #fff;
	width: 100%;
	height: auto;
}
.video {
	width: 200px;
	margin: 0 auto;
	padding: 30px;
	background-color: white; 	
	color: #515769;
	border: transparent;
	font-weight: bold;
	font-size: 15px;
}

.center {
	padding-top: 50px;
	padding-bottom: 40px;
	text-align: center;
}
h2.title {
	color: #515769;
	font-weight: bold;
}

h2.title-2 {
	color: #515769;
	font-weight: 600;
	font-size: 18px;
	margin-right: 10px;
}

span.title-3 {
	margin-left: 10px;
	color: #bfc1c7;
	font-size: 13px;
	font-weight: 400;
}

.paragraph {
	color: #a6a7aa;
	font-size: 15px;
}

.block {
	float: left;
	width: 33.3%;
	padding-right: 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.block img {
	width: 100%;
}

.block-2 {
	display: inline-block;	
	float: left;
	width: 50%;
	padding-right: 5px;
	box-sizing: border-box;
	padding-bottom: 3.5rem;
}

.block-2 img {
	width: 100%;
	height: auto;
}

.block-right {
	padding-right: 0;
}

#main-2 {
	width: 100%;
	background: #fafafa;	
}

.features {
	padding: 50px;
}

.block-3 {
	width: 33.3%;
	float: left;
	padding: 2.5rem 2rem;
	box-sizing: border-box;
	background-color: #fff;
	border-right: 15px solid #fafafa;
	margin-bottom: 15px;
}

.phone {
	width: 100%;
	height: 300px;
	background: url('images/02.jpg') repeat fixed 100%;
	background-position: center;
	position: relative;
	z-index: 1;
}

.phone .text {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;	
}

.text h1 {
	font-size: 3.5rem;
}

.text p {
	font-size: 20px;
	opacity: 0.8;
	line-height: 1.4;
}


.images-row {
	width: 100%;
	margin: 50px 0;
}

.row-first {
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
}

.row-second {
	width: 100%;
	padding-bottom: 10px;
}
.block-4 {
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	height: auto;
	overflow: hidden;
	min-height: 100%;
}

.block-wide {
	width: 66.6%;
	height: 362.06px;
	padding-right: 5px;
}

#main-3 {
	width: 100%;
	background: #fff;
}
.pad {
	padding-right: 5px;
}
a img {
	width: 100%;
	height: 100%;
}
a img:hover {
	filter: brightness(50%);
}

.review {
	width: 100%;
	padding: 30px 0;
}

#footer {
	width: 100%;
	padding: 30px 0;
	font-size: 14px;
	border-top: 1px solid lightgrey;
}

#footer img {
	width: 10%;
}

.copyright {
	position: relative;
	top: -10px;
	color: #81848f;
	float: right;
}

#footer p {
	color: #a6a7aa;
}
@media only screen and (min-width: 1600px) {
	#main-header {
		background-image: url('images/01_1.jpg');
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
	}	
}