body {
	font-family: Helvetica;
	background-color: #5CDB95;
}

.container {
	width: 80%;
	margin: 0 auto;
}
#main {
	text-align: center;
}
.joke {
	text-align: center; 
}
#main-header {

}

button:hover {
	background-color: #05386B;
	color: #EDF5E1;
}
.buttons {
	display: inline-block;
	width: 200px;
}

.box {
	width: 50px;
	height: 40px;
	border-radius: 5px;
}

#result {
	margin: 10px 0;
	width: 100%;
	height: 40px;
	font-size: 24px;
	background-color: #8EE4AF;
	color: #05386B;
	padding: 5px;
	font-weight: bold;
}