body {
	background-color: #DDE;
	font-family: 'Verdana';
	margin: 0;
	margin-bottom: 10px;
}

.clr {
	clear: both;
}
.container {
	text-align: center;
	margin: 0 auto;
	width: 70%;
}

.content {
}
.header {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #99C;
}

.header h3 {
	position: absolute;
	right: 100px;
	top: -50px;
}

.header img {
	width: 150px;
	height: 100px;
}

.content ul {
	list-style: none;
	line-height: 1.5;
}

.block {
	float: right;
	width: 33.3%;
	background-color: #AAA;
	border: 1px solid black;
	box-sizing: border-box;
}

#main-block {
	float: left;
	width: 70%;
}

#side-bar {
	float: right;
	width: 30%;
	padding: 10px;
	background-color: #FFF;
	box-sizing: border-box;
}
.p-box {
	width: 800px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
	background-image: url('images/logo.jpg');
	background-repeat: no-repeat; 
	background-position: center center;
}
.p-box h1 {
	position: absolute;
	top: 100px;
}

.p-box h2 {
	position: absolute;
	top: 100px;
	right: 300px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}