body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: #000;
    opacity: .9;
    width: 100%;
    margin: 0;
}

#main-header {
    width: 100%;
    border-bottom: 1px solid seashell;
    display: inline-block;
    position: fixed;
    z-index: 100;
    background: #000;
}

.clr {
    clear: both;
}
.logo {
    height: 50px;
    padding: 10px;
}

nav {
    float: right;
}
ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: 10px;
}

li a {
    color: seashell;
}

#banner {
    position: relative;
    top: 77px;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background: url('img/img-mission-background.jpg');
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#banner .text {
    width: 100%;
    background: #000;
    text-align: center;
}

#best-tea {
    position: relative;
    top: 50px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.block img {
    width: 300px;
    height: 200px;
}

.block {
    margin-right: 10px;
    margin-left: 10px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#locations {
    position: relative;
    top: 50px;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background: url('img/img-locations-background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    align-items: center;
}
.address {
    width: 300px;
    background: #000;
    margin-right: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
}

footer {
    width: 100%;
    position: relative;
    top: 30px;
}

.info {
    height: 200px;
    text-align: center;
}