html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Roboto';
	color: #fff;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.clr {
	clear: both;
}

#header {
	width: 100%;
	height: 100%;
	background: url('images/hero_bg_1.jpg');
	background-repeat: no-repeat;
	background-position: center;
}


.navbar {
	width: 100%;
	display: flex;
	align-items: center;
}

.navbar-brand {
	font: Roboto, sans-serif;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1.5px;
	font-weight: 700;
	text-decoration: none;
}
.navbar-nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.nav-item {
	padding: 15px 10px;
	text-decoration: none;
}
.nav-link {
	text-decoration: none;
	line-height: 1.7;
	font-weight: 300;
	color: #d3d3d3;
}

.active {
	color: #fff;
}
.nav-link:hover {
	text-decoration: underline;
}

.header-slogan {
	width: 100%;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.header-slogan-title {
	font-size: 5.5rem;
}
.header-paragraph {
	font-style: italic;
	color: darkgrey;
	font-size: 14px;
	text-align: center;	
}

#about-us {
	width: 100%;
	color: black;
}

#about-us .block {
	width: 33.3%;
	box-sizing: border-box;
	border-right: 10px solid #fff;
	float: left;
}
#about-us .block-menu {
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #d3d3d3;
}
#about-us .block-title::before {
	content: url('icons/icons8-link-64.png');
}

.block-paragraph {
	font-size: 14px;
	color: gray;
}
.block-menu-2 {
	width: 100%;
	display: flex;
	padding: 50px 0;
}
.block-menu-2 .block-img {
	width: 66.6%;
	padding-right: 60px;
}
.block-menu-2 .block {
	width: 33.3%;
}

.block-paragraph {
	line-height: 1.7;
}

.list {
	color: gray;
}

.list::before {
	content: url('icons/icons8-double-tick-48.png');
	position: relative;
	top: 10px;
	right: 5px;
}

.dark-orange {
	color: #ff5733;
}
.block .button {
	margin: 50px 0;
	padding: 10px 15px;
	background-color: #ff5733;
	color: #fff;
}

.team {
	text-align: center;
}

.team .block {
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	border-right: 10px solid #fff;
	text-align: left;
}
.team .block img {
	transition: all 300ms ease;
    box-sizing: border-box !important;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.team .block img:hover {
	transform: scale(1.05);
}

.pricing {
	padding-top: 4rem;
	text-align: center;
	padding: 50px 0;
}

.pricing .block {
	box-sizing: border-box;
	border: 1px solid #d3d3d3 !important; 
	padding: 30px 15px;
	text-align: center;
}

.last-block {
	margin-right: 0;
}

.faq {

}


.block-faq {
	width: 50%;
	box-sizing: border-box;
	border-right: 50px solid #fff;
	float: left;
}

#projects {
	width: 100%;
	height: auto;
	padding-top: 6rem;
	color: #000;
	text-align: center;
}

#projects .block {
	width: 33.3%;
	box-sizing: border-box;
	float: left;
	text-align: left;
	border-right: 20px solid #fff;
}

#projects img:hover {
	transform: scale(1.05);	
}

.space {
	width: 100%;
	height: 9rem;
}

#main-footer {
	width: 100%;
	padding: 4rem 0;
	background: #333333 !important;
}

#main-footer .block {
	width: 33.3%;
	float: left;
	box-sizing: border-box;

}

.navigation-block {
	width: 50%;
	float: left;
}

.navigation-block a {
	display: block;
}

.image-block-1 {
	width: 40%;
	float: left;
}

.image-block-2 {
	width: 60%;
	float: left;
}

#main-footer .date {
	padding: 8px 0;
}

.tfield {
	width: 80%;
	padding: 8px 5px;
}

.networks {
	height: 10px;
}

.copyright {
	width: 100%;
	padding-top: 30px; 
	text-align: center;
}