html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

* {
	transition: ease-in .5s;
	box-sizing: border-box;
}

.shrink {
	height: 50px;
}

.navbar-nav {
	width: 100%;
	display: inline-flex !important;
	justify-content: flex-end !important;
}
#showcase {
	background-color: #000;
	height: 100%;
	flex-direction: column;
}

#showcase .title {
	color: #e34234;
	max-width: 500px;
	font-size: 54px;
}

h1, h2, h3 {
	font-weight: 700;
}

.active {
	color: #e34234 !important;
}
.navbar {
	background-color: #000;
	border-bottom: 1px solid #ddd;
}

.btn {
	background: #5cdb95;
	transition: ease-out .5s;
}

.btn:hover {
	background-color: transparent;
	border: 1px solid #5cdb95;
}

.btn-link:hover {
	text-decoration: none;
}

.description {
	max-width: 400px;
}

#home {
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	background-image: url('starsky.png');
	background: #010b13;
	background-size: cover;
}
#home .title {
	font-family: 'Montserrat', sans-serif;
}

.blog {
	width: 100%;
	height: 150px;
	background-color: #ddd;
}

.card-text {
	font-size: 14px;	
	font-family: 'Lato', arial, sans-serif;
}

.card-img-top {
	height: 278px;
}

.card {
	border: none;
}

#contacts {
	width: 100%;
	height: 500px;
	background-color: #121c26;
	display: flex;
	align-items: center;
}

#contacts input, textarea {
	padding: 5px;
	border-radius: 5px;
	background: #010b13;
	border: none;
	color: #fff;
}

#contacts textarea {
	height: 200px;
}

footer {
	width: 100%;
	height: 100px;
	background: #0e161e;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 786px) {
	#home {
		background: #fff !important;
	}
} 