body {
	display: inline;
	font-family: 'Raleway', sans-serif;
	background-color: rgb(57, 169, 219);;
}

header {
	border: 1px solid black;
	margin: 20px 40px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9); 
}

.navigation h3.info {
	font-weight: 600;
	text-decoration: none;
	color: black;
}
.navigation {
	display: inline;
	font-weight: 100;
	letter-spacing: 2px;
	padding: 20px;
	text-transform: uppercase;
	color: grey;
	margin: 20px 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9); 

}

.container {
	display: grid;
	width: 70%;
	border: 1px solid black;
	border-radius: 30px;
	color: grey;
	align-items: center;
	margin: 3% auto;
	background-color: rgba(255, 255, 255, 0.9);	
}

.container h1 {
	color: black;
	text-align: center;
}

.container p {
	color: black;
	font-size: 18px;
	margin: 20px 20px;
}

.container img {
	width: 300px;
	height: 300px;
	margin: 20px 20px;
}
footer {
	border: 1px solid black;

}